.heading {
    font-size: 27px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.11;
    letter-spacing: normal;
    color: #000000;
    padding-bottom: 6px;
  }

  .no-issues-text {
      font-size: 19px;
      margin: 15px 0px 20px 0px;
  }
  
  .button-wrapper {
    margin-top: 21.5px;
    text-align: right;
}