.text-container {
  padding: 12px;
}

.message-text {
  font-size: 19px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.58;
  letter-spacing: normal;
  color: #000000;
}

.message-one {
  padding-bottom: 30px;
}
.confirmation-input{
  width: 903px;
  height: 95px;
  font-size:27px;
  text-align: center;
  padding-top: 10px;
  font-weight: 300;
}
.confirmation-title{
  font-size: 27px;
  font-weight: 500;
  margin-bottom: 33px;
}
.representative-name{
  padding: 10px;
  font-size: 27px;
  font-weight: 500;
}