.signature {
    box-sizing: border-box;
    border: solid 2px #0b0c0c;
    width: 100%;
}

.button-wrapper {
    margin-top: 21.5px;
    text-align: right;
}

.button-rectangle {
    width: 214px;
    height: 47px;
    box-shadow: inset 0 -2px 0 0 #003d2f;
    border: solid 1px #00664f;
    background-color: #ffffff;
}

.button-text {
    height: 23px;
    font-family: Montserrat;
    font-size: 19px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #00664f;
}