.back-arrow
{
  float: left;
  padding-right:4px;
}

.ready-for-review-by {
    width: 555px;
    height: 30px;
    font-size: 27px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.11;
    letter-spacing: normal;
    color: #000000;
}

.tra-name-etra-meet {
  width: 904px;
  height: 55px;
  font-size: 36px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.53;
  letter-spacing: normal;
  color: #000000;
}

.record-issues-padding {
  padding: 50px 0px 30px 0px;
}

.no-meeting-selected {
  text-align: center;
  font-size: 36px;
}
