
  #save-meeting {
    width: 450px;
    margin: 24 0px;
  }

  #save-draft{
    width: 370px;
    margin: 24 0px;
  }

  /*#review-later {
    width: 320px;
    margin-top: 36px;
    margin-bottom: 0px;
    padding: 0px 25px;
  }*/

.wrapper {
  padding-top: 10px;
  margin-top: 9px;
}

.select {
  padding-top: 6px;
  width: 480px;
  height: 40px;
  border-radius: 5px;
  border: solid 2px #222222;
  background-color: #ffffff;
  font-size: 16px;
}

.dropdown-block {
  display: block;
}

.note-input-box {
  font-size: 16px;
  width: 100%;
  padding-top: 7px;
  height: 139px;
  border: solid 2px #0b0c0c;
  background-color: #ffffff;
}

.issue-display-box {
  width: 100%;
  padding: 6px 0 21px 0;
  font-size: 16px;
  overflow-wrap: break-word;
}

.read-only-background {
  background-color: rgba(34, 34, 34, 0.05);
  padding-left: 13px;
}
.issue{
  margin-bottom: 20px;
}


#delete-issue{
    width: 200px;
    padding: 0px 24px;
    margin-top: 36px;
    margin-bottom: 36px;
}
.landing-page-header {
  font-size: 36px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.53;
  letter-spacing: normal;
  color: #000000;
}
.lbh-page-announcement {
  margin-bottom: 2.25rem;
  padding: 2.25rem 2.25rem 2.25rem 1.5rem;
  border: 1px solid #84bd00;
      border-left-width: 1px;
  border-left-width: 6px;
  background: rgba(164,214,94,.3);
}
.lbh-page-announcement__title {
  margin-top: 0;
  margin-bottom: .75rem;
}
.lbh-page-announcement__content {
  font-size: 19px;
  font-size: 1.1875rem;
  line-height: 30px;
  line-height: 1.875rem;
}
