.header{
  padding-bottom: 40px;
}
.background-black{
  background-color: black;
  height: 76px;
  width:100%;
}
.background-white{
  height:5px;
  width: 100%;
  background-color: white;
}
.background-top-green{
  height:4px;
  width:100%;
  background-color: #00664f;
}
.background-middle-green{
  height: 3px;
  width:100%;
  background-color: #00b140;
}
.background-bottom-green{
  height: 2px;
  width:100%;
  background-color: #84bd00;
}
.divider{
  height:2px;
  width: 100%;
  background-color: white;
}
.logo-container {
  
}