.spinner-wrapper {
    margin: 50px 0;
}
#save-meeting {
    width: 450px;
    margin: 24 0px;
}
  #save-draft{
    width: 370px;
    margin: 24 0px;
  }
  .lbh-etra-announcement{
    padding: 1rem 1rem 1rem 1rem;
    border: 1px solid #84bd00;
    background:rgba(164,214,94,.2)
  }
  /*#review-later {
    width: 320px;
    margin-top: 36px;
    margin-bottom: 0px;
    padding: 0px 25px;
  }*/ 

  