.border-left
{
  border-left: solid 2px #bec0c2;
  padding-left: 13px;
}

.attendance-header
{
  height: 31px;
  font-size: 19px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.63;
  letter-spacing: normal;
  color: #0072ce;
}

.input-label
{
  height: 30px;
  font-size: 19px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.58;
  letter-spacing: normal;
  color: #000000;
}

.input-box
{
  height: 40px;
  border: solid 2px #0b0c0c;
  background-color: #ffffff;
  font-size: 16px;
  padding-left: 5px;
}

.display-box {
  height: 46px;
  font-size: 16px;
  padding-left: 5px;
  display: flex;
  align-items: center
}

.wide-box {
  width: 450px;
}

.narrow-box {
  width: 86px;
}

.arrow
{
  width: 12px;
  height: 13px;
  color: #0072ce;
  padding-right: 12px;
  cursor: pointer;
}

.read-only-background {
  background-color: rgba(34, 34, 34, 0.05);
}