.boarder-left
{
  width: 2px;
  height: 273px;
  background-color: #bec0c2;
}
.meeting-attendance-header
{
  height: 31px;
  font-family: Montserrat;
  font-size: 19px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.63;
  letter-spacing: normal;
  color: #0072ce;
}
.councillor-label
{
  width: 108px;
  height: 30px;
  font-family: Montserrat;
  font-size: 19px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.58;
  letter-spacing: normal;
  color: #000000;
}
.councillor-input
{
  width: 450px;
  height: 40px;
  border: solid 2px #0b0c0c;
  background-color: #ffffff;
}
.hackney-council-staff-label
{
  width: 272px;
  height: 30px;
  font-family: Montserrat;
  font-size: 19px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.58;
  letter-spacing: normal;
  color: #000000;
}
.hackney-council-staff-input
{
  width: 450px;
  height: 40px;
  border: solid 2px #0b0c0c;
  background-color: #ffffff;
}

.number-of-attendees-label
{
  width: 253px;
  height: 30px;
  font-family: Montserrat;
  font-size: 19px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.58;
  letter-spacing: normal;
  color: #000000;
}
.number-of-attendees-input
{
  width: 86px;
  height: 40px;
  border: solid 2px #0b0c0c;
  background-color: #ffffff;
}
.arrow-down
{
  width: 12px;
  height: 13px;
  background-color: #0072ce;
}