#meeting-name-date
{
    width: 904px;
    height: 55px;
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.53;
    letter-spacing: normal;
    color: #000000;
}